<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home do Prestador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .container {
            margin-top: 20px;
        }
        .service-info {
            margin-top: 20px;
            font-size: 1.2em;
        }

           .navbar-custom {
            background-color: #050000	;
        }

        .pNavBar{
            color:#ffffff;
        }
    </style>
</head>
<body>
<div class="container">

    <nav class="navbar navbar-light navbar-custom m-3">
        <a class="navbar-brand" th:href="@{/prestador/home/{id}(id=${usuarioid})}">
            <p class="pNavBar">FastHub</p>
        </a>
        <a class="navbar-brand" th:href="@{/prestador/solicitacoes/{id}(id=${usuarioid})}">
            <p class="pNavBar">Solicitações de Serviço</p>
        </a>

        <a class="navbar-brand" th:href="@{/prestador/historico/{id}(id=${usuarioid})}">
            <p class="pNavBar">Historico Solicitações</p>
        </a>

        <a class="navbar-brand" th:href="@{/prestador/meuperfil/{id}(id=${usuarioid})}">
            <p class="pNavBar">Perfil</p>
        </a>

        <a class="navbar-brand" th:href="@{/logout}">
            <p class="pNavBar">LogOut</p>
        </a>
    </nav>



    <div class="service-info">
        <h2>Serviço Selecionado:</h2>
        <p th:text="${servico}">Serviço não selecionado</p>
    </div>

    <!-- Se desejar mostrar uma lista de serviços disponíveis -->
    <h2>Outros Serviços Disponíveis:</h2>
    <ul>
        <li th:each="servico : ${listaServicos}">
            <span th:text="${servico.nome}">Nome do Serviço</span>
        </li>
    </ul>
</div>

<!-- Scripts -->
<script src="/path/to/your/bootstrap.bundle.js"></script> <!-- Ajuste o caminho conforme necessário -->
</body>
</html>
